//output: main.html

doctype 

html(lang="en")
  head
    meta(charset="utf-8")
    title Kindred Group
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="styles/reset.css", rel="stylesheet")
    link(href="styles/slick.css", rel="stylesheet")
    link(href="styles/slick-theme.css", rel="stylesheet")
    link(href="styles/styles.css", rel="stylesheet")

  body 
  
    // - HEADER
    include ./templates/header.jade
    
    // - SLIDER
    include ./templates/slider.jade
    
    // - CONTENT
    include ./templates/content.jade
    












  
