//output: main.html, pretty: true

doctype

html(lang="en")
  head
    meta(charset="utf-8")
    title Kindred Group
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="styles/reset.css", rel="stylesheet")
    link(href="styles/slick.css", rel="stylesheet")
    link(href="styles/slick-theme.css", rel="stylesheet")
    link(href="styles/styles.css", rel="stylesheet")

  body

    //- HEADER
    include ./templates/header.jade

    //- SLIDER
    include ./templates/slider.jade

    //- CONTENT
    include ./templates/content.jade

    //- FOOTER
    include ./templates/footer.jade

    //- SCRIPTS
    script(src="scripts/jquery-1.11.3.js")
    script(src="scripts/slick.min.js")
    script(src="scripts/js.js")
