// COLORS
$white: #fff;
$red: #e30613;
$darkRed: #cc0511;
$lightGray: #f2f2f2;
$gray: #e5e5e5;
$black: #000;

// FONTS
$gothamBold: 'GothamCEBold';
$gothamLight: 'GothamLight';
$gothamBook: 'GothamCEBook';

// MEDIA QUERIES
$maxW-1080: 'only screen and (max-width: 1080px)';
$maxW-660: 'only screen and (max-width: 660px)';
$maxW-560: 'only screen and (max-width: 560px)';
