// HEADER
.header {
  @extend html;
  display: table;
  background: url('../images/header-bg.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: $white;
  &__welcome {
    display: table-cell;
    vertical-align: middle;
  }
  &__title {
    font-size: 120px;
    @media #{$maxW-660} {
      font-size: 48px;
    }
  }
  &__subtitle {
    margin-top: 10px;
  }
  &__arrow {
    @include size(57px, 57px);
    @include center(0);
    @include transition(scale .3s linear);
    margin-bottom: 60px;
    display: table-cell;
    vertical-align: bottom;
    cursor: pointer;
  }
} //end header

// NAVIGATION
//header version
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: left;
  color: $white;
  z-index: 999;
  &__logo {
    font-family: $gothamBold;
    font-size: 18px;
  }
  &__menu {
    font-family: $gothamBook;
    font-size: 18px;
    text-align: center;
  }
  &__item {
    padding: 0 20px;
    display: inline;
    @media #{$maxW-1080} {
      display: block;
      padding: 3px 0;
    }
  }
  &__anchor {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $red;
    }
  }
  &__hide {
    @media #{$maxW-1080} {
      display: none;
    }
  }
} // end nav

.submenu {
  float: right;
  font-family: $gothamBook;
  font-size: 18px;
  &__burger {
    display: inline-block;
  }
  &__line {
    @include size(20px, 3px);
    margin-bottom: 3px;
    margin-left: 5px;
    display: block;
    background-color: $white;
  }
  &__label {
    display: inline-block;
    vertical-align: top;
    @media #{$maxW-1080} {
      display: none;
    }
  }
} //end submenu

// navigation fixed
.navFixed {
  .nav {
    border-bottom: 1px solid $lightGray;
    background-color: $white;
    &__anchor {
      color: $red;
    }
    &__anchor:hover {
      color: $black;
    }
  }
  .submenu {
    color: $red;
    &__line {
      background-color: $red;
    }
  }
}//end navFixed
