.u-pageSection {
  width: 100%;
  padding-top: 80px;
}

.u-bold {
  font-family: "GothamCEBold";
}

* {
  box-sizing: border-box;
}

html, body, .header {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "GothamCEBold";
  font-size: 72px;
}

h2 {
  padding-top: 25px;
  font-family: "GothamLight";
  font-size: 36px;
  line-height: 44px;
}

footer p {
  line-height: 24px;
  padding-top: 20px;
  text-align: left;
}
footer a {
  color: #fff;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  padding: 40px;
  float: left;
}

.container {
  max-width: 1200px;
  display: block;
  margin: auto;
  text-align: center;
}

.fixed a {
  color: #e30613;
}
.fixed a:hover {
  color: #000;
}

.header {
  display: table;
  background: url("../images/header-bg.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.header__welcome {
  display: table-cell;
  vertical-align: middle;
}
.header__title {
  font-size: 120px;
}
.header__subtitle {
  margin-top: 10px;
}
.header__arrow {
  width: 57px;
  height: 57px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 60px;
  display: table-cell;
  vertical-align: bottom;
  cursor: pointer;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: left;
  color: #fff;
  z-index: 999;
}
.nav__logo {
  font-family: "GothamCEBold";
  font-size: 18px;
}
.nav__menu {
  font-family: "GothamCEBook";
  font-size: 18px;
  text-align: center;
}
.nav__item {
  padding: 0 20px;
  display: inline;
}
.nav__anchor {
  text-decoration: none;
  color: #fff;
}

.submenu {
  float: right;
  font-family: "GothamCEBook";
  font-size: 18px;
}
.submenu__burger {
  display: inline-block;
}
.submenu__line {
  width: 20px;
  height: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
  display: block;
  background-color: #fff;
}
.submenu__label {
  display: inline-block;
  vertical-align: top;
}

.slider {
  background-color: #e30613;
  color: #fff;
}
.slider__title {
  padding-top: 55.5px;
}
.slider__slideSubtitle {
  padding-bottom: 156px;
}

.content {
  color: #e30613;
}
.content__sectionSubtitle {
  color: #000;
}

.member {
  margin-left: 0;
  margin-bottom: -1px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.member__logo {
  width: 50%;
  height: 200px;
  display: inline-block;
  vertical-align: middle;
  background-position: 50px center;
  background-repeat: no-repeat;
  background-size: 40%;
}
.member__description {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-family: "GothamCEBook";
  font-size: 18px;
  line-height: 24px;
  color: #000;
  box-sizing: border-box;
}

#logo1 {
  background-image: url("../images/members/member1.png");
}

#logo2 {
  background-image: url("../images/members/member2.png");
}

#logo3 {
  background-image: url("../images/members/member3.png");
}

#logo4 {
  background-image: url("../images/members/member4.png");
}

#logo5 {
  background-image: url("../images/members/member5.png");
}

#logo6 {
  background-image: url("../images/members/member6.png");
}

#logo7 {
  background-image: url("../images/members/member7.png");
}

#logo8 {
  background-image: url("../images/members/member8.png");
}

#logo9 {
  background-image: url("../images/members/member9.png");
}

#logo10 {
  background-image: url("../images/members/member10.png");
}

.footer {
  width: 100%;
  margin-top: 60px;
  font-family: "GothamCEBook";
  font-size: 18px;
  text-align: center;
  background-color: #e30613;
  color: #fff;
}
.footer__heading {
  padding-top: 40px;
}
.footer__subtitle {
  padding-bottom: 40px;
}

.contactBox__title {
  font-size: 36px;
  padding: 0;
  text-align: left;
}

.social {
  margin-top: 50px;
  margin-bottom: 90px;
  border: solid 1px #cc0511;
}
.social:hover {
  background-color: #cc0511;
}
.social__network {
  padding: 0;
  display: inline-block;
  font-size: 30px;
}
.social__logo {
  display: inline-block;
  background: url("../images/social.png") no-repeat;
}
.social__logo--fb {
  width: 12px;
  height: 25px;
}
.social__logo--in {
  width: 25px;
  height: 25px;
  background-position: 0 -54px;
}

.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 24.9999%;
}

.col-4 {
  width: 33.3332%;
}

.col-5 {
  width: 41.6665%;
}

.col-6 {
  width: 49.9998%;
}

.col-7 {
  width: 58.3331%;
}

.col-8 {
  width: 66.6664%;
}

.col-9 {
  width: 74.9997%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.6663%;
}

.col-12 {
  width: 100%;
}

@font-face {
  font-family: "GothamLight";
  src: url("webfonts/gotham-light.eot");
  src: url("webfonts/gotham-light.eot") format("embedded-opentype"), url("webfonts/gotham-light.woff") format("woff"), url("webfonts/gotham-light.ttf") format("truetype"), url("webfonts/gotham-light.svg#GothamLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamCEBold";
  src: url("webfonts/gothabol-webfont.eot");
  src: url("webfonts/gothabol-webfont.eot?#iefix") format("embedded-opentype"), url("webfonts/gothabol-webfont.woff") format("woff"), url("webfonts/gothabol-webfont.ttf") format("truetype"), url("webfonts/gothabol-webfont.svg#gothamboldcebold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "GothamCEBook";
  src: url("webfonts/gothaboo-webfont.eot");
  src: url("webfonts/gothaboo-webfont.eot?#iefix") format("embedded-opentype"), url("webfonts/gothaboo-webfont.woff") format("woff"), url("webfonts/gothaboo-webfont.ttf") format("truetype"), url("webfonts/gothaboo-webfont.svg#gothambookcebook") format("svg");
  font-weight: normal;
  font-style: normal;
}
a:target {
  transition: all 1s linear;
}

@media only screen and (max-width: 1080px) {
  [class*="col-"] {
    padding: 10px;
  }

  .col-m-1 {
    width: 8.33%;
  }

  .col-m-2 {
    width: 16.66%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-4 {
    width: 33.33%;
  }

  .col-m-5 {
    width: 41.66%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-7 {
    width: 58.33%;
  }

  .col-m-8 {
    width: 66.66%;
  }

  .col-m-9 {
    width: 75%;
  }

  .col-m-10 {
    width: 83.33%;
  }

  .col-m-11 {
    width: 91.66%;
  }

  .col-m-12 {
    width: 100%;
  }

  nav .links li {
    display: block;
    padding: 3px 0px;
  }
  nav .hide {
    display: none;
  }
  nav .menu p {
    display: none;
  }

  footer .description {
    padding-bottom: 20px;
  }
  footer .footer-heading, footer p {
    text-align: center;
  }
  footer .footer-heading {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 660px) {
  .section-size {
    padding-top: 40px;
  }

  header h1 {
    font-size: 48px;
  }

  #slider h1, #content h1 {
    font-size: 32px;
  }
  #slider .description, #content .description {
    font-size: 25px;
  }
}
@media only screen and (max-width: 560px) {
  .col-s-12 {
    width: 100%;
  }

  footer h1 {
    font-size: 60px;
  }

  button {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
